

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.brand {
  font-size: 1.5em;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.course {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 10px;
  width: 300px;
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  height: 100%; 
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  font-size: 1.2em;
  color: #007bff;
  margin-bottom: 10px;
}
.enroll-button {
  background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);                                             
  color: white;
  padding: 10px 20px;
  text-align: center;
  border: none;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.5s;
  background-size: 200% auto;
  transition: background-color 0.3s ease-in-out;
  
}

.enroll-button:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
 
}
         
.btn-grad {
  background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  
}

.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}
